{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json",
        "tsconfigRootDir": "."
    },
    "plugins": [
        "@typescript-eslint",
        "react",
        "prettier"
    ],
    "env": {
        "es6": true,
        "browser": true
    },
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended",
        "prettier",
        "prettier/@typescript-eslint"
    ],
    "rules": {
        "prettier/prettier": "error",
        "@typescript-eslint/explicit-function-return-type": [
            "off",
            { "allowExpressions": true }
        ],
        "@typescript-eslint/explicit-member-accessibility": [
            "error",
            { "accessibility": "no-public" }
        ],
        "@typescript-eslint/explicit-module-boundary-types": [
            "off",
            { "allowTypedFunctionExpressions": false }
        ],
        "react/prop-types": [
            "off"
        ],
        "@typescript-eslint/naming-convention" :[
            "error",
            {
                "selector": "default",
                "format": ["camelCase"]
            },
            {
                "selector": "variable",
                "format": ["PascalCase", "camelCase", "UPPER_CASE"],
                "leadingUnderscore": "allow"
            },
            {
                "selector": "property",
                "format": ["PascalCase", "camelCase", "UPPER_CASE", "snake_case"]
            },
            {
                "selector": "parameter",
                "format": ["PascalCase", "camelCase"],
                "leadingUnderscore": "allow"
            },
            {
                "selector": "typeLike",
                "format": ["PascalCase"]
            }
        ]
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}